{% extends "home/base.html" %}
{% comment %} {% block title}home{% endblock title %} {% endcomment %}
{% load static %}
{% block title %}About-us{% endblock title %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
s
<main>



    <header class="header-page">
        <div class="header-page-shape header-page-shape-bottom">
            <img src="{% static '/images/shapes/shape-12.png' %}" alt="shape">
        </div>
        <div class="container">
            <div class="header-page-content">
                <h1>About Us</h1>
<!--                <nav aria-label="breadcrumb">-->
<!--                    <ol class="breadcrumb">-->
<!--                        <li class="breadcrumb-item"><a href="/">Home</a></li>-->
<!--                        <li class="breadcrumb-item active" aria-current="page">About Us</li>-->
<!--                    </ol>-->
<!--                </nav>-->
            </div>
        </div>
    </header>


    <section class="about-section pt-100 pb-70">
        <div class="container-fluid desk-p-0">
            <div class="row align-items-center desk-mlr-0">
                <div class="col-12 col-lg-6 pb-30 desk-plr-0 order-lg-2 pb-30">
                    <div class="max-600 desk-mr-auto desk-pad-left-30">
                        <div
                            class="about-section-title section-title section-title-left section-title-shapeless position-relative">
                            <div class="overlay-text">
                                <h3 class="font-family-3">About</h3>
                            </div>
                            <h2>Our Techniques Crucial To Learn If You're Going <span>To Explore In Learning</span></h2>
                            <p>We believe everyone has the capacity to be creative. Turitor is a place where people
                                develop their own potential.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiumod tempor incididunt
                                ut labore et dolore voluptatem.</p>
                        </div>
                        <div class="section-button-group">
                            <div class="section-button-item">
                                <a href="#" class="btn main-btn">LEARN MORE <i class="flaticon-edit"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 pb-30 desk-plr-0 order-lg-1 pb-30">
                    <div class="about-image text-center image-frame">
                        <img src="{% static '/images/about-group-study.jpg' %}" alt="study">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="about-section bg-maincolor-light pt-100 pb-70 position-relative">
        <div class="record-animate-shapes">
            <div class="record-animate-shape animation-tab-none">
                <img src="{% static '/images/shapes/shape-10.png' %}" alt="shape">
            </div>
            <div class="record-animate-shape animation-tab-none">
                <img src="{% static '/images/shapes/shape-11.png' %}" alt="shape">
            </div>
        </div>
        <div class="container position-relative">
            <div class="record-grid">
                <div class="record-grid-item">
                    <div class="record-grid-item-inner">
                        <div class="record-item-number">
                            <div class="counter">200</div>
                            <span>+</span>
                        </div>
                        <div class="record-item-text">
                            <p>Projects Finished</p>
                        </div>
                    </div>
                </div>
                <div class="record-grid-item">
                    <div class="record-grid-item-inner">
                        <div class="record-item-number">
                            <div class="counter">199</div>
                            <span>+</span>
                        </div>
                        <div class="record-item-text">
                            <p>Satisfied Clients</p>
                        </div>
                    </div>
                </div>
                <div class="record-grid-item">
                    <div class="record-grid-item-inner">
                        <div class="record-item-number">
                            <div class="counter">150</div>
                            <span>+</span>
                        </div>
                        <div class="record-item-text">
                            <p>Online Students</p>
                        </div>
                    </div>
                </div>
                <div class="record-grid-item">
                    <div class="record-grid-item-inner">
                        <div class="record-item-number">
                            <div class="counter">20</div>
                            <span>+</span>
                        </div>
                        <div class="record-item-text">
                            <p>Years of Experience</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="help-section pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2>How Can We <span>Help</span> You</h2>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3 pb-30">
                    <div class="help-card help-card-center">
                        <div class="help-card-thumb">
                            <i class="flaticon-resume"></i>
                        </div>
                        <div class="help-card-content">
                            <h3>Job Introduction</h3>
                            <p>Minim veniam, quis nostrud exerciion llamco laboris nisi ut aliquip ex ea commo
                                cosnaluptatem</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 pb-30">
                    <div class="help-card help-card-center">
                        <div class="help-card-thumb">
                            <i class="flaticon-satisfaction"></i>
                        </div>
                        <div class="help-card-content">
                            <h3>Commitment Satisfaction</h3>
                            <p>Minim veniam, quis nostrud exerciion llamco laboris nisi ut aliquip ex ea commo
                                cosnaluptatem</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 pb-30">
                    <div class="help-card help-card-center">
                        <div class="help-card-thumb">
                            <i class="flaticon-instructions"></i>
                        </div>
                        <div class="help-card-content">
                            <h3>Specific Instructions​</h3>
                            <p>Minim veniam, quis nostrud exerciion llamco laboris nisi ut aliquip ex ea commo
                                cosnaluptatem</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 pb-30">
                    <div class="help-card help-card-center">
                        <div class="help-card-thumb">
                            <i class="flaticon-learn"></i>
                        </div>
                        <div class="help-card-content">
                            <h3>Lifelong Learning​​</h3>
                            <p>Minim veniam, quis nostrud exerciion llamco laboris nisi ut aliquip ex ea commo
                                cosnaluptatem</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="testimonial-section p-tb-100 bg-off-white position-relative">
        <div class="double-bg-shape-items">
            <div class="double-bg-shape-item">
                <img src="{% static '/images/shapes/bg-line-area-shape.png' %}" alt="shape">
            </div>
            <div class="double-bg-shape-item">
                <img src="{% static '/images/shapes/circle-shape.png' %}" alt="shape">
            </div>
        </div>
        <div class="client-fixed-images">
            <div class="client-fixed-image">
                <img src="{% static '/images/clients/client-2.jpg' %}" alt="client">
            </div>
            <div class="client-fixed-image">
                <img src="{% static '/images/clients/client-3.jpg' %}" alt="client">
            </div>
            <div class="client-fixed-image">
                <img src="{% static '/images/clients/client-4.jpg' %}" alt="client">
            </div>
            <div class="client-fixed-image">
                <img src="{% static '/images/clients/client-5.jpg' %}" alt="client">
            </div>
        </div>
        <div class="testimonial-animation-items">
            <div class="testimonial-animation-item animation-tab-none">
                <img src="{% static '/images/shapes/triangle-shape.png' %}" alt="shape">
            </div>
            <div class="testimonial-animation-item animation-tab-none">
                <img src="{% static '/images/shapes/square-ring-shape.png' %}" alt="shape">
            </div>
            <div class="testimonial-animation-item animation-tab-none">
                <img src="{% static '/images/shapes/curved-line-black.png' %}" alt="shape">
            </div>
            <div class="testimonial-animation-item animation-tab-none">
                <img src="{% static '/images/shapes/combined-circle-shape-2.png' %}" alt="shape">
            </div>
        </div>
        <div class="container">
            <div class="section-title">
                <h2>What People Say <span>About Us</span></h2>
            </div>
            <div class="testimonial-carousel swiper-container">
                <div class="swiper-wrapper">
                    <div class="testimonial-carousel-item swiper-slide">
                        <div class="testimonial-carousel-thumb">
                            <img src="{% static '/images/clients/client-1.jpg' %}" alt="client">
                        </div>
                        <div class="testimonial-carousel-content">
                            <h3 class="testimonial-client-name">Charry Porter</h3>
                            <h4 class="testimonial-client-designation">Student at <span>Porter Library</span></h4>
                            <p class="testimonial-client-feedback">“Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                minim veniam, quis nostrud exercitation ullmco laboris nisi ut aliquip ex ea sit
                                aspernatur aut odit aut qua.”</p>
                        </div>
                    </div>
                    <div class="testimonial-carousel-item swiper-slide">
                        <div class="testimonial-carousel-thumb">
                            <img src="{% static '/images/clients/client-2.jpg' %}" alt="client">
                        </div>
                        <div class="testimonial-carousel-content">
                            <h3 class="testimonial-client-name">Ricky Johnson</h3>
                            <h4 class="testimonial-client-designation">Instructor at <span>Porter Library</span></h4>
                            <p class="testimonial-client-feedback">“Sed ut perspiciatis unde omnis iste natus error sit
                                voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                                ipsam voluptatem.”</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-carousel-control">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </section>


    <section class="partner-section p-tb-100">
        <div class="container">
            <div class="section-title">
                <h2>They're Our <span>Patronize</span></h2>
            </div>
            <div class="partner-carousel swiper-container">
                <div class="swiper-wrapper">
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="{% static '/images/partners/partner-1.png' %}" alt="partner"></a>
                    </div>
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="{% static '/images/partners/partner-2.png' %}" alt="partner"></a>
                    </div>
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="{% static '/images/partners/partner-3.png' %}" alt="partner"></a>
                    </div>
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="{% static '/images/partners/partner-4.png' %}" alt="partner"></a>
                    </div>
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="{% static '/images/partners/partner-5.png' %}" alt="partner"></a>
                    </div>
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="{% static '/images/partners/partner-6.png' %}" alt="partner"></a>
                    </div>
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="{% static '/images/partners/partner-7.png' %}" alt="partner"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="become-section pb-100">
        <div class="container">
            <div class="bg-main become-section-box">
                <div class="become-section-shapes">
                    <div class="become-section-shape-item">
                        <img src="{% static '/images/shapes/become-section-curve-line.png' %}" alt="shape">
                    </div>
                </div>
                <div class="become-animate-items">
                    <div class="become-animate-item animation-tab-none">
                        <img src="{% static '/images/shapes/animate-shape-2.png' %}" alt="shape">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-5 pb-50 mobile-pb-30">
                        <div class="section-title section-title-white section-title-left">
                            <h2>Join As Teacher Or Student</h2>
                            <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut henderit in magnam
                                aliquam quaerat voluptatem</p>
                        </div>
                        <div class="section-button-group">
                            <div class="section-button-item">
                                <a href="become-a-teacher.html" class="btn main-btn btn-white">BECOME A TEACHER <i
                                        class="flaticon-edit"></i></a>
                            </div>
                            <div class="section-button-item">
                                <a href="become-a-teacher.html" class="btn main-btn btn-white">BECOME A STUDENT <i
                                        class="flaticon-edit"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1 position-relative">
                        <div class="image-position image-position-rb text-center">
                            <img src="{% static '/images/header-screenshot.png' %}" alt="screenshot">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




</main>
{% endblock content %}
{% block javascripts %}

{% endblock javascripts %}
