{% extends "home/base.html" %}
{% csrf_token %}
{% csrf_token %}
{% load static %}
{% block title %}Courses{% endblock title %}
{% include 'home/sheets.html' %}
{% block content %}
<main>
    <header class="header-page">
        <div class="header-page-shape header-page-shape-middle">
            <img src="{% static 'images/shapes/shape-15.png' %}" alt="shape">
        </div>
        <div class="container">
            <div class="header-page-content">
                <h1 <i class="fa fa-align-center" aria-hidden="true"></i>Courses</h1>
            </div>
        </div>
    </header>


    <section class="course-section pt-100 pb-70">
        <div class="container">
            <div class="product-list-header">
                <div class="product-list-header-item">
                    <div class="product-list-result">
                        <p>We found <span>6</span> courses available for you</p>
                    </div>
                </div>
                <div class="product-list-header-item">
                    <div class="product-list-action">
                        <div class="product-list-form">
                            <form>
                                <select>
                                    <option value="default-sorting">Course Type: All</option>
                                    <option value="popularity">Sort By Popoularity</option>
                                    <option value="lowtohigh">Sort By Price: Low To High</option>
                                    <option value="hightolow">Sort By Price: High To Low</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 pb-30">
                    <div class="course-card">
                        <div class="course-card-thumb">
                            <a href="single-course/"><img src="{% static 'images/courses/course-image-1.jpg' %}"
                                    alt="course"></a>
                        </div>
                        <div class="course-card-content bg-off-white">
                            <ul class="course-info-list">
                                <li><i class="flaticon-reading"></i> 23 Students</li>
                                <li><i class="flaticon-online-learning-1"></i> 30 Lessons</li>
                            </ul>
                            <h3><a href="single-course/">Listening Skills the Ultimate Soft Skills for Beginners</a>
                            </h3>
                            <h4 class="course-price">$56.00</h4>
                        </div>
                        <ul class="course-filter-list">
                            <li class="course-filter-danger">Featured</li>
                            <li class="course-filter-success">Free</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 pb-30">
                    <div class="course-card">
                        <div class="course-card-thumb">
                            <a href="single-course/"><img src="{% static 'images/courses/course-image-2.jpg' %}"
                                    alt="course"></a>
                        </div>
                        <div class="course-card-content bg-off-white">
                            <ul class="course-info-list">
                                <li><i class="flaticon-reading"></i> 16 Students</li>
                                <li><i class="flaticon-online-learning-1"></i> 45 Lessons</li>
                            </ul>
                            <h3><a href="single-course/">Yoga Medicine’s Guide to Therapeutic Man &amp; Woman</a>
                            </h3>
                            <h4 class="course-price">$100.00</h4>
                        </div>
                        <ul class="course-filter-list">
                            <li class="course-filter-danger">Featured</li>
                            <li class="course-filter-success">Free</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 pb-30">
                    <div class="course-card">
                        <div class="course-card-thumb">
                            <a href="single-course/"><img src="{% static 'images/courses/course-image-3.jpg' %}"
                                    alt="course"></a>
                        </div>
                        <div class="course-card-content bg-off-white">
                            <ul class="course-info-list">
                                <li><i class="flaticon-reading"></i> 16 Students</li>
                                <li><i class="flaticon-online-learning-1"></i> 45 Lessons</li>
                            </ul>
                            <h3><a href="single-course/">Excel Crash Course: Master Excel for Financial Analysis</a>
                            </h3>
                            <h4 class="course-price">$78.00</h4>
                        </div>
                        <ul class="course-filter-list">
                            <li class="course-filter-danger">Featured</li>
                            <li class="course-filter-success">-50%</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 pb-30">
                    <div class="course-card">
                        <div class="course-card-thumb">
                            <a href="single-course/"><img src="{% static 'images/courses/course-image-4.jpg' %}"
                                    alt="course"></a>
                        </div>
                        <div class="course-card-content bg-off-white">
                            <ul class="course-info-list">
                                <li><i class="flaticon-reading"></i> 53 Students</li>
                                <li><i class="flaticon-online-learning-1"></i> 30 Lessons</li>
                            </ul>
                            <h3><a href="single-course/">Artificial Intelligence: Reinforcement Learning</a></h3>
                            <h4 class="course-price">$35.00</h4>
                        </div>
                        <ul class="course-filter-list">
                            <li class="course-filter-danger">Featured</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 pb-30">
                    <div class="course-card">
                        <div class="course-card-thumb">
                            <a href="single-course/"><img src="{% static 'images/courses/course-image-5.jpg' %}"
                                    alt="course"></a>
                        </div>
                        <div class="course-card-content bg-off-white">
                            <ul class="course-info-list">
                                <li><i class="flaticon-reading"></i> 23 Students</li>
                                <li><i class="flaticon-online-learning-1"></i> 30 Lessons</li>
                            </ul>
                            <h3><a href="single-course/">Mastering on Data Modeling Fundamentals Course</a></h3>
                            <h4 class="course-price">$56.00</h4>
                        </div>
                        <ul class="course-filter-list">
                            <li class="course-filter-danger">Featured</li>
                            <li class="course-filter-success">-30%</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 pb-30">
                    <div class="course-card">
                        <div class="course-card-thumb">
                            <a href="single-course/"><img src="{% static 'images/courses/course-image-6.jpg' %}"
                                    alt="course"></a>
                        </div>
                        <div class="course-card-content bg-off-white">
                            <ul class="course-info-list">
                                <li><i class="flaticon-reading"></i> 27 Students</li>
                                <li><i class="flaticon-online-learning-1"></i> 35 Lessons</li>
                            </ul>
                            <h3><a href="single-course/">Cryptocurrency Trading Course 2020: Achieve Wins Daily!</a>
                            </h3>
                            <h4 class="course-price">$77.00</h4>
                        </div>
                        <ul class="course-filter-list">
                            <li class="course-filter-danger">Featured</li>
                            <li class="course-filter-focus">-90%</li>
                        </ul>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation example" class="page-pagination">
                <ul class="pagination">
                    <li class="page-item disabled"><a class="page-link" href="#"><i
                                class="flaticon-left-arrow-1"></i></a></li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i class="flaticon-right-arrow"></i></a></li>
                </ul>
            </nav>
        </div>
    </section>


    <section class="partner-section pb-100">
        <div class="container">
            <div class="section-title">
                <h2>They're Our <span>Patronize</span></h2>
            </div>
            <div class="partner-carousel swiper-container">
                <div class="swiper-wrapper">
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="{% static 'images/partners/partner-1.png' %}" alt="partner"></a>
                    </div>
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="{% static 'images/partners/partner-2.png' %}" alt="partner"></a>
                    </div>
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="{% static 'images/partners/partner-3.png' %}" alt="partner"></a>
                    </div>
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="{% static 'images/partners/partner-4.png' %}" alt="partner"></a>
                    </div>
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="{% static 'images/partners/partner-5.png' %}" alt="partner"></a>
                    </div>
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="{% static 'images/partners/partner-6.png' %}" alt="partner"></a>
                    </div>
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="{% static 'images/partners/partner-7.png' %}" alt="partner"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="become-section pb-100">
        <div class="container">
            <div class="bg-main become-section-box">
                <div class="become-section-shapes">
                    <div class="become-section-shape-item">
                        <img src="{% static 'images/shapes/become-section-curve-line.png' %}" alt="shape">
                    </div>
                </div>
                <div class="become-animate-items">
                    <div class="become-animate-item animation-tab-none">
                        <img src="{% static 'images/shapes/animate-shape-2.png' %}" alt="shape">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-5 pb-50 mobile-pb-30">
                        <div class="section-title section-title-white section-title-left">
                            <h2>Join As Teacher Or Student</h2>
                            <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut henderit in magnam
                                aliquam quaerat voluptatem</p>
                        </div>
                        <div class="section-button-group">
                            <div class="section-button-item">
                                <a href="become-a-teacher.html" class="btn main-btn btn-white">BECOME A TEACHER <i
                                        class="flaticon-edit"></i></a>
                            </div>
                            <div class="section-button-item">
                                <a href="become-a-teacher.html" class="btn main-btn btn-white">BECOME A STUDENT <i
                                        class="flaticon-edit"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1 position-relative">
                        <div class="image-position image-position-rb text-center">
                            <img src="{% static 'images/header-screenshot.png' %}" alt="screenshot">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}

    {% block javascipts %}{% endblock javascipts %}