{% extends "home/base.html" %}



{% comment %} {% block stylesheets %}{% endblock stylesheets %} {% endcomment %}
{% include 'home/sheets.html' %}
{% block content %}

<main>

    <div class="preloader bg-blue">
        <div class="preloader-wrapper">
            <div class="loader-content book">
                <figure class="page"></figure>
                <figure class="page"></figure>
                <figure class="page"></figure>
            </div>
            <h3>Loading</h3>
        </div>
    </div>


    <div class="navbar-area">

        <div class="mobile-nav">
            <a href="index.html" class="mobile-brand">
                <img src="../../excain/static/images/logo.png" alt="logo" class="logo">
            </a>
            <div class="navbar-option">
                <div class="navbar-option-item navbar-option-dots dropdown">
                    <button type="button" id="dot" aria-haspopup="true" aria-expanded="false">
                        <i class="flaticon-menu"></i>
                    </button>
                    <ul class="dropdown-menu navbar-dots-dropdown">
                        <li class="dropdown-item">
                            <div class="navbar-option-item navbar-option-language dropdown language-option">
                                <button class="dropdown-toggle" type="button" id="language3" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="flaticon-worldwide"></i>
                                    <span class="lang-name"></span>
                                </button>
                                <div class="dropdown-menu language-dropdown-menu" aria-labelledby="language3">
                                    <a class="dropdown-item" href="#">
                                        <img src="../../excain/static/images/usa.png" alt="flag">
                                        English
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <img src="../../excain/static/images/germany.png" alt="flag">
                                        Deutsch
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <img src="../../excain/static/images/china.png" alt="flag">
                                        简体中文
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <img src="../../excain/static/images/uae.png" alt="flag">
                                        العربيّة
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-item">
                            <div class="navbar-option-item navbar-option-cart">
                                <div class="navbar-option-item navbar-option-search dropdown">
                                    <button type="button" id="search1" data-bs-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <i class="flaticon-search"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="search1">
                                        <form>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <i class="flaticon-search"></i>
                                                    </div>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Search result">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-item">
                            <div class="navbar-option-item navbar-option-cart">
                                <a href="cart.html"><i class="flaticon-shopping-cart"></i>
                                    <span class="option-badge option-badge-main">2</span>
                                </a>
                            </div>
                        </li>
                        <li class="dropdown-item">
                            <div class="navbar-option-item navbar-option-wishlist">
                                <a href="wishlist.html"><i class="flaticon-heart"></i>
                                    <span class="option-badge option-badge-main">1</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="navbar-option-item navbar-option-language dropdown mobile-hide language-option">
                    <button class="dropdown-toggle" type="button" id="language1" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="flaticon-worldwide"></i>
                        <span class="lang-name"></span>
                    </button>
                    <div class="dropdown-menu language-dropdown-menu" aria-labelledby="language1">
                        <a class="dropdown-item" href="#">
                            <img src="../../excain/static/images/usa.png" alt="flag">
                            English
                        </a>
                        <a class="dropdown-item" href="#">
                            <img src="../../excain/static/images/germany.png" alt="flag">
                            Deutsch
                        </a>
                        <a class="dropdown-item" href="#">
                            <img src="../../excain/static/images/china.png" alt="flag">
                            简体中文
                        </a>
                        <a class="dropdown-item" href="#">
                            <img src="../../excain/static/images/uae.png" alt="flag">
                            العربيّة
                        </a>
                    </div>
                </div>
                <div class="navbar-option-item navbar-option-search dropdown mobile-hide">
                    <button type="button" id="search" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="flaticon-search"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="search">
                        <form>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="flaticon-search"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control" placeholder="Search result">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="navbar-option-item navbar-option-cart mobile-hide">
                    <a href="cart.html"><i class="flaticon-shopping-cart"></i>
                        <span class="option-badge option-badge-main">2</span>
                    </a>
                </div>
                <div class="navbar-option-item navbar-option-wishlist mobile-hide">
                    <a href="wishlist.html"><i class="flaticon-heart"></i>
                        <span class="option-badge option-badge-main">1</span>
                    </a>
                </div>
                <div class="navbar-option-item navbar-option-account">
                    <a href="authentication.html"><i class="flaticon-user"></i></a>
                </div>
            </div>
        </div>

        <div class="main-nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="../../excain/static/images/logo.png" alt="logo" class="logo">
                    </a>
                    <div class="navbar-search">
                        <form>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="flaticon-search"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control" placeholder="Search result">
                            </div>
                        </form>
                    </div>
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">HOME</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item  nav-item-1">
                                        <a href="index.html" class="nav-link">Home Demo 1</a>
                                    </li>
                                    <li class="nav-item  nav-item-2">
                                        <a href="index-2.html" class="nav-link">Home Demo 2</a>
                                    </li>
                                    <li class="nav-item  nav-item-3">
                                        <a href="index-3.html" class="nav-link">Home Demo 3</a>
                                    </li>
                                    <li class="nav-item  nav-item-4">
                                        <a href="index-4.html" class="nav-link">Home Demo 4</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle active">PAGES</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="gallery.html" class="nav-link">Gallery</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="start-here.html" class="nav-link">Start Here</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="about-us.html" class="nav-link">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="about-me.html" class="nav-link">About Me</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="success-story.html" class="nav-link">Success Story</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="faqs.html" class="nav-link">FAQ's</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="membership-levels.html" class="nav-link">Membership Levels</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="calender.html" class="nav-link">Calender</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link dropdown-toggle">Career</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="career.html" class="nav-link">Career</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="career-details.html" class="nav-link">Career Details</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link dropdown-toggle">Events</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="events.html" class="nav-link">Events</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="event-details.html" class="nav-link">Event Details</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link dropdown-toggle">Meeting</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="zoom-meetings-and-webinars.html" class="nav-link">Zoom Meetings
                                                    & Webinars </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="meeting-details.html" class="nav-link">Meeting Details</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link dropdown-toggle">Instructors</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="instructors.html" class="nav-link">Instructors</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="instructor-details.html" class="nav-link">Instructor
                                                    Details</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link dropdown-toggle active">Account</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="authentication.html" class="nav-link active">Authentication</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="forget-password.html" class="nav-link">Forget Password</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="profile.html" class="nav-link">Profile</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="edit-account.html" class="nav-link">Edit Account</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link dropdown-toggle">Others</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="terms-service.html" class="nav-link">Terms of Service</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="coming-soon.html" class="nav-link">Coming Soon</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="search-page.html" class="nav-link">Search Page</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="404.html" class="nav-link">404 Error Page</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">COURSES</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="courses.html" class="nav-link">Courses</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="single-course.html" class="nav-link">Single Course</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="become-a-teacher.html" class="nav-link">Become a Teacher</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="demo-account.html" class="nav-link">Demo Account</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">SHOP</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="products.html" class="nav-link">Products </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="single-product.html" class="nav-link">Single Product</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="cart.html" class="nav-link">Cart</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="checkout.html" class="nav-link">Checkout</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="wishlist.html" class="nav-link">Wishlist</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="purchase-guide.html" class="nav-link">Purchase Guide</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">BLOG</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="blogs-grid-without-sidebar.html" class="nav-link">Blogs Grid </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="blogs-list-with-sidebar.html" class="nav-link">Blogs List </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="single-blog.html" class="nav-link">Single Blog</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">CONTACT</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="contact-us.html" class="nav-link">Contact Us </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="contact-me.html" class="nav-link">Contact Me </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="navbar-option">
                        <div class="nnavbar-option-item navbar-option-language dropdown language-option">
                            <button class="dropdown-toggle" type="button" id="language2" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="flaticon-worldwide"></i>
                                <span class="lang-name"></span>
                            </button>
                            <div class="dropdown-menu language-dropdown-menu" aria-labelledby="language2">
                                <a class="dropdown-item" href="#">
                                    <img src="../../excain/static/images/usa.png" alt="flag">
                                    English
                                </a>
                                <a class="dropdown-item" href="#">
                                    <img src="../../excain/static/images/germany.png" alt="flag">
                                    Deutsch
                                </a>
                                <a class="dropdown-item" href="#">
                                    <img src="../../excain/static/images/china.png" alt="flag">
                                    简体中文
                                </a>
                                <a class="dropdown-item" href="#">
                                    <img src="../../excain/static/images/uae.png" alt="flag">
                                    العربيّة
                                </a>
                            </div>
                        </div>
                        <div class="navbar-option-item navbar-option-cart">
                            <a href="cart.html"><i class="flaticon-shopping-cart"></i>
                                <span class="option-badge option-badge-main">2</span>
                            </a>
                        </div>
                        <div class="navbar-option-item navbar-option-wishlist">
                            <a href="wishlist.html"><i class="flaticon-heart"></i>
                                <span class="option-badge option-badge-main">1</span>
                            </a>
                        </div> -->
                    <div class="navbar-option-item navbar-option-authentication">
                        <a href="authentication.html" class="btn main-btn text-nowrap">LOGIN</a>
                    </div>
                    <div class="navbar-option-item navbar-option-authentication">
                        <a href="authentication.html" class="btn main-btn text-nowrap">SIGNUP</a>
                    </div>
            </div>
        </div>
        </nav>
    </div>
    </div>
    </div>


    <header class="header-page">
        <div class="header-page-shape header-page-shape-middle">
            <img src="../../excain/static/images/shapes/shape-22.png" alt="shape">
        </div>
        <div class="container">
            <div class="header-page-content">
                <h1>Authentication</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Authentication</li>
                    </ol>
                </nav>
            </div>
        </div>
    </header>


    <div class="authentication-section pt-100 pb-70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 pb-30">
                    <div class="authentication-item">
                        <h3>Register</h3>
                        <div class="authentication-form">
                            <form method="POST" action="/register/">
                                {% csrf_token %}
                                <div class="form-group mb-20">
                                    <div class="input-group">
                                        {{ form.username }}
                                    </div>
                                </div>
                                <span style="color:red; !important" class="text-error"
                                    class="text-error">{{ form.username.errors }}</span>
                                <div class="form-group mb-20">
                                    <div class="input-group">
                                        {{ form.email }}
                                    </div>
                                </div>
                                <span style="color:red; !important" class="text-error">{{ form.email.errors }}</span>
                                <div class="form-group mb-20">
                                    <div class="input-group">
                                        {{ form.password1 }}
                                    </div>
                                    <span style="color:red; !important"
                                        class="text-error">{{ form.password1.errors }}</span>
                                    </br>
                                    <div class="form-group mb-20">
                                        <div class="input-group">
                                            {{ form.password2 }}
                                        </div>
                                        <span style="color:red; !important"
                                            class="text-error">{{ form.password2.errors }}</span>
                                        <p class="font-italic mb-20 form-desc">The password must be at least twelve
                                            characters
                                            long, contain upper and lower case letters, contain numbers, contain symbols
                                            like !
                                            " ? $ % ^ & ).</p>
                                        <button class="btn main-btn full-width mb-20" name="register"
                                            type="submit">REGISTER NOW</button>

                                        <div class="authentication-account-access">
                                            <div class="authentication-account-access-item">
                                                <div class="input-checkbox">
                                                    <input type="checkbox" id="check2">
                                                    <label for="check2">I agree to the <a
                                                            href="privacy-policy-2.html">Privacy
                                                            Policy</a> & <a href="terms-service.html">Terms of
                                                            Service</a></label>
                                                </div>
                                            </div>
                                        </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="partner-section pb-100">
        <div class="container">
            <div class="section-title">
                <h2>They're Our <span>Patronize</span></h2>
            </div>
            <div class="partner-carousel swiper-container">
                <div class="swiper-wrapper">
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="../../excain/static/images/partners/partner-1.png" alt="partner"></a>
                    </div>
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="../../excain/static/images/partners/partner-2.png" alt="partner"></a>
                    </div>
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="../../excain/static/images/partners/partner-3.png" alt="partner"></a>
                    </div>
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="../../excain/static/images/partners/partner-4.png" alt="partner"></a>
                    </div>
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="../../excain/static/images/partners/partner-5.png" alt="partner"></a>
                    </div>
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="../../excain/static/images/partners/partner-6.png" alt="partner"></a>
                    </div>
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="../../excain/static/images/partners/partner-7.png" alt="partner"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="become-section pb-100">
        <div class="container">
            <div class="bg-main become-section-box">
                <div class="become-section-shapes">
                    <div class="become-section-shape-item">
                        <img src="../../excain/static/images/shapes/become-section-curve-line.png" alt="shape">
                    </div>
                </div>
                <div class="become-animate-items">
                    <div class="become-animate-item animation-tab-none">
                        <img src="../../excain/static/images/shapes/animate-shape-2.png" alt="shape">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-5 pb-50 mobile-pb-30">
                        <div class="section-title section-title-white section-title-left">
                            <h2>Join As Teacher Or Student</h2>
                            <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut henderit in
                                magnam
                                aliquam quaerat voluptatem</p>
                        </div>
                        <div class="section-button-group">
                            <div class="section-button-item">
                                <a href="become-a-teacher.html" class="btn main-btn btn-white">BECOME A
                                    TEACHER <i class="flaticon-edit"></i></a>
                            </div>
                            <div class="section-button-item">
                                <a href="become-a-teacher.html" class="btn main-btn btn-white">BECOME A
                                    STUDENT <i class="flaticon-edit"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1 position-relative">
                        <div class="image-position image-position-rb text-center">
                            <img src="../../excain/static/images/header-screenshot.png" alt="screenshot">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% include 'home/scripts.html' %}
</main>

    {% endblock content %}
    {% block javascipts %}{% endblock javascipts %}