{% extends "home/base.html" %}
{% csrf_token %}

{% load static %}
{% block title %}Courses{% endblock title %}
{% include 'home/sheets.html' %}
{% block content %}
<main>

    <header class="header-page">
        <div class="container">
            <div class="header-page-content desk-pad-right-30">
                <div class="course-badge">-30%</div>
                <h1>Mastering On Data Modeling</h1>description
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Mastering...</li>
                    </ol>
                </nav>
            </div>
        </div>
    </header>


    <section class="course-details-section pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4 pb-30 order-lg-2">
                    <div class="summery-details-item sidebar-to-header">
                        <div class="summery-box">
                            <div class="summery-iframe">
                                <iframe src="https://www.youtube.com/embed/thjVvXl8vwI"></iframe>
                            </div>
                            <div class="summery-inner">
                                <div class="summery-list">
                                    <div class="summery-list-item">
                                        <div class="summery-label"><i class="flaticon-equalizer"></i>Level</div>
                                        <div class="summery-option">Beginner</div>
                                    </div>
                                    <div class="summery-list-item">
                                        <div class="summery-label"><i class="flaticon-instructor"></i>Instructor</div>
                                        <div class="summery-option">Owen Christ</div>
                                    </div>
                                    <div class="summery-list-item">
                                        <div class="summery-label"><i class="flaticon-online-learning-1"></i>Lessons
                                        </div>
                                        <div class="summery-option">10</div>
                                    </div>
                                    <div class="summery-list-item">
                                        <div class="summery-label"><i class="flaticon-reading-book-1"></i>Enrolled</div>
                                        <div class="summery-option">340 Student</div>
                                    </div>
                                    <div class="summery-list-item">
                                        <div class="summery-label"><i class="flaticon-key"></i>Access</div>
                                        <div class="summery-option">Lifetime</div>
                                    </div>
                                    <div class="summery-list-item">
                                        <div class="summery-label"><i class="flaticon-globe"></i>Language</div>
                                        <div class="summery-option">English</div>
                                    </div>
                                </div>
                                <div class="summery-material-list">
                                    <h4>Material Includes</h4>
                                    <ul>
                                        <li><span>-</span> Booklets</li>
                                        <li><span>-</span> Videos</li>
                                    </ul>
                                </div>
                                <div class="summery-buttons">
                                    <a href="#" class="btn main-btn">ADD TO CART</a>
                                    <a href="#" class="btn main-btn">ADD TO WISHLIST</a>
                                </div>
                                <div class="summery-social-share">
                                    <ul class="social-list">
                                        <li><a href="#"><img src="{% static 'images/facebook.png' %}" alt="social"></a>
                                        </li>
                                        <li><a href="#"><img src="{% static 'images/twitter.png' %}" alt="social"></a>
                                        </li>
                                        <li><a href="#"><img src="{% static 'images/linkedin.png' %}" alt="social"></a>
                                        </li>
                                        <li><a href="#"><img src="{% static 'images/instagram.png' %}" alt="social"></a>
                                        </li>
                                        <li><a href="#"><img src="{% static 'images/youtube.png' %}" alt="social"></a>
                                        </li>
                                        <li><a href="#"><img src="{% static 'images/skype.png' %}" alt="social"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-8 pb-30 order-lg-1">
                    <div class="summery-details-item desk-pad-right-30">
                        <ul class="product-tab-list">
                            <li class="active" data-product-tab="1">Overview</li>
                            <li data-product-tab="2">Curriculam</li>
                            <li data-product-tab="3">Instructor</li>
                            <li data-product-tab="4">Reviews</li>
                        </ul>
                        <div class="summery-info-details">
                            <div class="summery-info-details-item summery-info-details-item-active"
                                data-summery-info-details="1">
                                <div class="summery-info-details-inner">
                                    <h3>Course Description</h3>

                                    <a href=""></a>
                                    
                                    <p>
                                    </p>
                                    <h4>   
                                            {{course.name}}

                                    </h4>
                                  
                                    <ul>
                                        <li><i class="flaticon-check"></i> {{ course.description }}</li>
                                        <li><i class="flaticon-check"></i> At vero eos et accusamus et iusto odio
                                            dignissimos ducimus</li>
                                        <li><i class="flaticon-check"></i> Itaque earum rerum hic tenetur a sapiente
                                            delectus</li>
                                    </ul>
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                        praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                                        excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
                                        officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem
                                        rerum facilis est et expedita distinctio.</p>
                                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
                                        minus id quod maxime placeat facere possimus, omnis voluptas assumenda est,
                                        omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut
                                        rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et
                                        molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut
                                        aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus
                                        asperiores repellat.</p>
                                </div>
                            </div>
                            <div class="summery-info-details-item" data-summery-info-details="2">
                                <div class="summery-info-details-inner">
                                    <h4>Course Outline</h4>
                                    <small><i>General introduction to the course outline</i></small>
                                    <ul class="summery-lesson-list">
                                        <li>
                                            <a href="#">
                                                <span class="summery-lesson-name">Lesson 01: Simple, attainable
                                                    goals</span>
                                                <div class="summery-item-meta">
                                                    <span class="item-meta">Preview</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="summery-lesson-name">Live meeting about Online
                                                    Education</span>
                                                <div class="summery-item-meta">
                                                    <span class="item-meta duration">30 min</span>
                                                    <i class='bx bxs-lock-alt'></i>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="summery-info-details-item" data-summery-info-details="3">
                                <div class="summery-info-details-inner">
                                    <div class="summery-info-instructor">
                                        <div class="summery-info-instructor-thumb">
                                            <img src="{% static 'images/instructor.jpg' %}" alt="instructor">
                                        </div>
                                        <div class="summery-info-instructor-details">
                                            <h3>Owen Christ</h3>
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                                illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                                explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                                                odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                                voluptatem sequi nesciunt.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="summery-info-details-item" data-summery-info-details="4">
                                <div class="summery-info-details-inner">
                                    <h4>Course Rating</h4>
                                    <p><span class="summery-rating-total">5.00</span> average based on <span
                                            class="summery-rating-number">1</span> rating</p>
                                    <div class="review-star">
                                        <ul class="review-star-list">
                                            <li class="full-star"><i class="bx bxs-star"></i></li>
                                            <li class="full-star"><i class="bx bxs-star"></i></li>
                                            <li class="full-star"><i class="bx bxs-star"></i></li>
                                            <li class="full-star"><i class="bx bxs-star"></i></li>
                                            <li class="full-star"><i class="bx bxs-star"></i></li>
                                        </ul>
                                        <span>4.7/5.00</span>
                                    </div>
                                    <div class="summery-review-progress">
                                        <div class="summery-progress-item">
                                            <h5>Star</h5>
                                            <div class="progress summery-progress">
                                                <div class="progress-bar summery-progress-bar" role="progressbar"
                                                    style="width: 30%" aria-valuenow="30" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                                <span>30%</span>
                                            </div>
                                        </div>
                                        <div class="summery-progress-item">
                                            <h5>Star</h5>
                                            <div class="progress summery-progress">
                                                <div class="progress-bar summery-progress-bar" role="progressbar"
                                                    style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                                <span>100%</span>
                                            </div>
                                        </div>
                                        <div class="summery-progress-item">
                                            <h5>Star</h5>
                                            <div class="progress summery-progress">
                                                <div class="progress-bar summery-progress-bar" role="progressbar"
                                                    style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                                <span>90%</span>
                                            </div>
                                        </div>
                                        <div class="summery-progress-item">
                                            <h5>Star</h5>
                                            <div class="progress summery-progress">
                                                <div class="progress-bar summery-progress-bar" role="progressbar"
                                                    style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                                <span>80%</span>
                                            </div>
                                        </div>
                                        <div class="summery-progress-item">
                                            <h5>Star</h5>
                                            <div class="progress summery-progress">
                                                <div class="progress-bar summery-progress-bar" role="progressbar"
                                                    style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                                <span>30%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="summery-comment-area">
                                        <div class="summery-people-review">

                                            <div class="summery-people-review-item">

                                                <div class="summery-people-reply summery-people-review-main">
                                                    <div class="summery-people-review-thumb">
                                                        <img src="{% static 'images/comments/comment-2.jpg' %}"
                                                            alt="people">
                                                    </div>
                                                    <div class="summery-people-review-content">
                                                        <div class="summery-people-review-info">
                                                            <h3 class="summery-post-name">Devit Killer</h3>
                                                            <div class="review-star">
                                                                <ul class="review-star-list">
                                                                    <li class="full-star"><i class="bx bxs-star"></i>
                                                                    </li>
                                                                    <li class="full-star"><i class="bx bxs-star"></i>
                                                                    </li>
                                                                    <li class="full-star"><i class="bx bxs-star"></i>
                                                                    </li>
                                                                    <li class="full-star"><i class="bx bxs-star"></i>
                                                                    </li>
                                                                    <li class="full-star"><i class="bx bxs-star"></i>
                                                                    </li>
                                                                </ul>
                                                                <span>4.7/5.00</span>
                                                            </div>
                                                            <h4 class="summery-post-date">January 29, 2021</h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                sed do eiusmod tempor incididunt ut labore et dolore
                                                                magna aliqua.</p>
                                                            <div class="summery-people-reply-action">
                                                                <a href="#" class="redirect-link">Write Review <i
                                                                        class="bx bx-plus"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="summery-people-reply summery-people-review-reply">
                                                    <div class="summery-people-review-thumb">
                                                        <img src="{% static 'images/comments/comment-1.jpg' %}"
                                                            alt="people">
                                                    </div>
                                                    <div class="summery-people-review-content">
                                                        <div class="summery-people-review-info">
                                                            <h3 class="summery-post-name">Owen Christ</h3>
                                                            <h4 class="summery-post-date">January 29, 2021</h4>
                                                            <p>Dolores eos qui ratione voluptatem sequi nesciunt. Neque
                                                                porro quisquam est, qui dolorem ipsum quia dolor sit
                                                                amet, consectetur.</p>
                                                            <div class="summery-people-reply-action">
                                                                <a href="#" class="redirect-link">Write Review <i
                                                                        class="bx bx-plus"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-review-area">
                                        <div class="sub-section-title">
                                            <h3 class="sub-section-title-heading">Add Your Comments</h3>
                                            <p>Your email address will not be published. Required fields are marked *
                                            </p>
                                        </div>
                                        <form>
                                            <div class="form-review mb-20">
                                                <fieldset class="rating">
                                                    <ul>
                                                        <li>
                                                            <input type="radio" id="star5" name="rating" value="5" />
                                                            <label class="full" for="star5"></label>
                                                            <input type="radio" id="star4half" name="rating"
                                                                value="4 and a half" />
                                                            <label class="half" for="star4half"
                                                                title="Pretty good - 4.5 stars"></label>
                                                        </li>
                                                        <li>
                                                            <input type="radio" id="star4" name="rating" value="4" />
                                                            <label class="full" for="star4"></label>
                                                            <input type="radio" id="star3half" name="rating"
                                                                value="3 and a half" />
                                                            <label class="half" for="star3half"></label>
                                                        </li>
                                                        <li>
                                                            <input type="radio" id="star3" name="rating" value="3" />
                                                            <label class="full" for="star3"></label>
                                                            <input type="radio" id="star2half" name="rating"
                                                                value="2 and a half" />
                                                            <label class="half" for="star2half"></label>
                                                        </li>
                                                        <li>
                                                            <input type="radio" id="star2" name="rating" value="2" />
                                                            <label class="full" for="star2"></label>
                                                            <input type="radio" id="star1half" name="rating"
                                                                value="1 and a half" />
                                                            <label class="half" for="star1half"></label>
                                                        </li>
                                                        <li>
                                                            <input type="radio" id="star1" name="rating" value="1" />
                                                            <label class="full" for="star1"></label>
                                                            <input type="radio" id="starhalf" name="rating"
                                                                value="half" />
                                                            <label class="half" for="starhalf"></label>
                                                        </li>
                                                    </ul>
                                                </fieldset>
                                                <h4>Add Ratings</h4>
                                            </div>
                                            <div class="product-review-area">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                                        <div class="form-group mb-20">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i
                                                                            class="flaticon-user"></i></span>
                                                                </div>
                                                                <input type="text" name="name" id="name"
                                                                    class="form-control" placeholder="Name*" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                                        <div class="form-group mb-20">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i
                                                                            class="flaticon-envelope"></i></span>
                                                                </div>
                                                                <input type="text" name="email" id="email"
                                                                    class="form-control" placeholder="Email*" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group mb-20">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i
                                                                            class="flaticon-envelope"></i></span>
                                                                </div>
                                                                <textarea name="message" class="form-control"
                                                                    id="message" rows="6"
                                                                    placeholder="Your Comment*"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="input-checkbox mb-20">
                                                            <input type="checkbox" id="contact1">
                                                            <label for="contact1">Save my name, and website in this
                                                                browser for the next time I comment.</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <button class="btn main-btn">SEND A COMMENT</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="course-section p-tb-100 bg-off-white">
        <div class="container">
            <div class="section-title-group">
                <div class="section-title section-title-shapeless">
                    <h2>Courses You <span>Might Like</span></h2>
                </div>
            </div>
            <div class="course-carousel swiper-container">
                <div class="swiper-wrapper">
                    <div class="course-carousel-item swiper-slide">
                        <div class="course-card">
                            <div class="course-card-thumb">
                                <a href="single-course.html"><img src="{% static 'images/courses/course-image-1.jpg' %}"
                                        alt="course"></a>
                            </div>
                            <div class="course-card-content bg-gray">
                                <ul class="course-info-list">
                                    <li><i class="flaticon-reading"></i> 23 Students</li>
                                    <li><i class="flaticon-online-learning-1"></i> 30 Lessons</li>
                                </ul>
                                <h3><a href="single-course.html">Listening Skills the Ultimate Soft Skills for
                                        Beginners</a></h3>
                                <h4 class="course-price">$56.00</h4>
                            </div>
                            <ul class="course-filter-list">
                                <li class="course-filter-danger">Featured</li>
                                <li class="course-filter-success">Free</li>
                            </ul>
                        </div>
                    </div>
                    <div class="course-carousel-item swiper-slide">
                        <div class="course-card">
                            <div class="course-card-thumb">
                                <a href="single-course.html"><img src="{% static 'images/courses/course-image-2.jpg' %}"
                                        alt="course"></a>
                            </div>
                            <div class="course-card-content bg-gray">
                                <ul class="course-info-list">
                                    <li><i class="flaticon-reading"></i> 16 Students</li>
                                    <li><i class="flaticon-online-learning-1"></i> 45 Lessons</li>
                                </ul>
                                <h3><a href="single-course.html">Yoga Medicine’s Guide to Therapeutic Man &amp;
                                        Woman</a></h3>
                                <h4 class="course-price">$100.00</h4>
                            </div>
                            <ul class="course-filter-list">
                                <li class="course-filter-danger">Featured</li>
                                <li class="course-filter-success">Free</li>
                            </ul>
                        </div>
                    </div>
                    <div class="course-carousel-item swiper-slide">
                        <div class="course-card">
                            <div class="course-card-thumb">
                                <a href="single-course.html"><img src="{% static 'images/courses/course-image-3.jpg' %}"
                                        alt="course"></a>
                            </div>
                            <div class="course-card-content bg-gray">
                                <ul class="course-info-list">
                                    <li><i class="flaticon-reading"></i> 16 Students</li>
                                    <li><i class="flaticon-online-learning-1"></i> 45 Lessons</li>
                                </ul>
                                <h3><a href="single-course.html">Excel Crash Course: Master Excel for Financial
                                        Analysis</a></h3>
                                <h4 class="course-price">$78.00</h4>
                            </div>
                            <ul class="course-filter-list">
                                <li class="course-filter-danger">Featured</li>
                                <li class="course-filter-success">-50%</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-carousel-control">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </section>


    <section class="partner-section p-tb-100">
        <div class="container">
            <div class="section-title">
                <h2>They're Our <span>Patronize</span></h2>
            </div>
            <div class="partner-carousel swiper-container">
                <div class="swiper-wrapper">
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="{% static 'images/partners/partner-1.png' %}" alt="partner"></a>
                    </div>
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="{% static 'images/partners/partner-2.png' %}" alt="partner"></a>
                    </div>
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="{% static 'images/partners/partner-3.png' %}" alt="partner"></a>
                    </div>
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="{% static 'images/partners/partner-4.png' %}" alt="partner"></a>
                    </div>
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="{% static 'images/partners/partner-5.png' %}" alt="partner"></a>
                    </div>
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="{% static 'images/partners/partner-6.png' %}" alt="partner"></a>
                    </div>
                    <div class="partner-item swiper-slide">
                        <a href="#"><img src="{% static 'images/partners/partner-7.png' %}" alt="partner"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="become-section pb-100">
        <div class="container">
            <div class="bg-main become-section-box">
                <div class="become-section-shapes">
                    <div class="become-section-shape-item">
                        <img src="{% static 'images/shapes/become-section-curve-line.png' %}" alt="shape">
                    </div>
                </div>
                <div class="become-animate-items">
                    <div class="become-animate-item animation-tab-none">
                        <img src="{% static 'images/shapes/animate-shape-2.png' %}" alt="shape">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-5 pb-50 mobile-pb-30">
                        <div class="section-title section-title-white section-title-left">
                            <h2>Join As Teacher Or Student</h2>
                            <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut henderit in magnam
                                aliquam quaerat voluptatem</p>
                        </div>
                        <div class="section-button-group">
                            <div class="section-button-item">
                                <a href="become-a-teacher.html" class="btn main-btn btn-white">BECOME A TEACHER <i
                                        class="flaticon-edit"></i></a>
                            </div>
                            <div class="section-button-item">
                                <a href="become-a-teacher.html" class="btn main-btn btn-white">BECOME A STUDENT <i
                                        class="flaticon-edit"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1 position-relative">
                        <div class="image-position image-position-rb text-center">
                            <img src="{% static 'images/header-screenshot.png' %}" alt="screenshot">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}

    {% block javascipts %}{% endblock javascipts %}