{% csrf_token %}
<!DOCTYPE html>
<html>
<head>
{% load static %}
    <meta charset="utf-8">
    <title>Excain Admin {% block title %}{% endblock title %}</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <script src="{% static '/global/js/core/pace.js' %}"></script>
    <!-- START CORE CSS-->
    <link href="{% static '/global/css/laraspace.css' %}" rel="stylesheet" type="text/css">
    <!-- END CORE CSS -->

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="csrf-token" content="ju0AJjtVlV2LnL9lhkK9fOpg7DhuaMFVgR1mifUv">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static '/img/favicons/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static '/global/img/favicons/apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static '/global/img/favicons/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static '/global/img/favicons/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static '/global/img/favicons/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static '/global/img/favicons/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static '/global/img/favicons/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static '/global/img/favicons/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/global/img/favicons/apple-touch-icon-180x180.png' %}">
    <link rel="icon" type="image/png" href="{% static '/global/img/favicons/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static '/global/img/favicons/android-chrome-192x192.png' %}"
          sizes="192x192">
    <link rel="icon" type="image/png" href="{% static '/global/img/favicons/favicon-96x96.png' %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static '/global/img/favicons/favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static '/global/img/favicons/manifest.json' %}">
    <link rel="mask-icon" href="{% static '/global/img/favicons/safari-pinned-tab.svg' %}" color="#333333">
    <link rel="shortcut icon" href="{% static '/global/img/favicons/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{% static '/global/img/favicons/mstile-144x144.png' %}">
    <meta name="msapplication-config" content="{% static '/global/img/favicons/browserconfig.xml' %}">
    <meta name="theme-color" content="#333333">
    {% block stylesheets %}{% endblock stylesheets %}
</head>
{% block content %}
<body class="layout-default skin-default">
   
    {% include 'dashboard/admin/bases/header.html' %}


   

    <footer class="site-footer">
        <div class="text-right">
            Powered by <a href="http://bytefury.com/" target="_blank">Bytefury</a>
        </div>
    </footer>
    <div class="skin-tools">
        <a class="skin-tools-action">
            <i class="icon-fa icon-fa-cog"></i>
        </a>
        <div class="skin-tools-content">
            <h5 class="mt-2">Select Skin</h5>
            <div class="row mt-md-4">
                <div class="col-sm-6 skin-item">
                    <a href="#" class="skin-radio active" data-skin="default" title="Skin - Default">
                        <img src="{% static '/global/img/skins/skin-default.png' %}" class="img-fluid">
                    </a>
                </div>
                <div class="col-sm-6 skin-item">
                    <a href="#" class="skin-radio" data-skin="tyrell" data-logo="white" title="Skin - Tyrell">
                        <img src="{% static '/global/img/skins/skin-tyrell.png' %}" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="row mt-md-4">
                <div class="col-sm-6 skin-item">
                    <a href="#" class="skin-radio" data-skin="arryn" data-logo="white" title="Skin - Arryn">
                        <img src="{% static '/global/img/skins/skin-arryn.png' %}" class="img-fluid">
                    </a>
                </div>
                <div class="col-sm-6 skin-item">
                    <a href="#" class="skin-radio" data-skin="lannister" data-logo="white" title="Skin - Lannister">
                        <img src="{% static '/global/img/skins/skin-lannister.png' %}" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="row mt-md-4">
                <div class="col-sm-6 skin-item">
                    <a href="#" class="skin-radio" data-skin="stark" title="Skin - Stark">
                        <img src="{% static '/global/img/skins/skin-stark.png' %}" class="img-fluid">
                    </a>
                </div>
                <div class="col-sm-6 skin-item">
                    <a href="#" class="skin-radio" data-skin="targaryen" title="Skin - Targaryen">
                        <img src="{% static '/global/img/skins/skin-targaryen.png' %}" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


</body>
{% block javascripts %}{% endblock javascripts %}
<!-- START GLOBAL  SCRIPT -->
<script src="{% static '/global/js/core/plugins.js' %}"></script>
<script src="{% static '/global/js/demo/skintools.js' %}"></script>
<!-- END GLOBAL  SCRIPT -->

<!-- START PAGE  SCRIPT -->
<script src="{% static '/plugins/Chartjs/Chart.js' %}"></script>
<script src="{% static '/js/core/app.js' %}"></script>

<!-- END PAGE  SCRIPT -->

</html>
