{% extends 'dashboard/admin/bases/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}

<main class="login-page login-2">
<div id="app" class="login-wrapper">
    <div class="login-box">
        {% include 'dashboard/admin/bases/messages.html' %}
        <div class="logo-main">
            <a href="../index.html"><img src="{% static '/global/img/logo-login.png' %}" alt="Laraspace Logo"></a>
        </div>
        <form id="id_password_change_form" method="POST" class="form-signin">{% csrf_token %}
            {{ form }}
            {% for field in form %}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            {% endfor %}
            <br>
            <button class="btn btn-theme btn-full" type="submit">UPDATE</button>    
            </form>
        <div class="page-copyright">
            <p>Powered by <a href="http://bytefury.com/" target="_blank">Bytefury</a></p>
            <p>Laraspace © 2017</p>
        </div>
    </div>
</div>
<script src="{% static '/pages/sessions/login.js' %}"></script>

<script src="{% static '/plugins/Chartjs/Chart.js' %}"></script>
<script src="{% static '/js/core/app.js' %}"></script>
</main>

{% endblock content %}
{% block javascripts %}
{% csrf_token %}
{% endblock javascripts %}

