{% extends 'dashboard/admin/bases/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<main class="login-page login-2">
    <div id="app" class="login-wrapper">
        <div class="main-content">
            <div class="page-header">
                <h3 class="page-title">Users</h3>
                <div class="login-box">
                    <form id="id_password_change_form" method="POST" class="form-signin">{% csrf_token %}
                        {{ form }}
                        </br>
                        <button class="btn btn-theme btn-full" type="submit">UPDATE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}
{% block javascripts %}
<script>
$('#id_new_password1').addClass('form-control');
$('#id_old_password').addClass('form-control');
$('#id_new_password2').addClass('form-control');
</script>
{% endblock javascripts %}

