{% extends 'dashboard/admin/bases/base.html' %}
{% csrf_token %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}

<main class="login-page login-2">
<div id="app" class="login-wrapper">
    <div class="login-box">
        <div class="logo-main">
            <a href="../index.html"><img src="{% static '/global/img/logo-login.png' %}" alt="Laraspace Logo"></a>
        </div>
        <form action="/dash" id="loginForm" method="post">
            <input type="hidden" name="_token" value="ju0AJjtVlV2LnL9lhkK9fOpg7DhuaMFVgR1mifUv">
            <div class="form-group">
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.password }}
            </div>
            <div class="other-actions row">
                <div class="col-6">
                    <div class="checkbox">
                        <label class="c-input c-checkbox">
                            <input type="checkbox" name="remember">
                            <span class="c-indicator"></span>
                            Remember Me
                        </label>
                    </div>
                </div>
                <div class="col-6 text-right">
                    <a href="../forgot-password.html" class="forgot-link">Forgot Password?</a>
                </div>
            </div>
            <button class="btn btn-theme btn-full">Login</button>
            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <p> {{ error }} </p>
            {% endfor %}
            {% endfor %}
            {% endif %}
        </form>
        <div class="page-copyright">
            <p>Powered by <a href="http://bytefury.com/" target="_blank">Bytefury</a></p>
            <p>Laraspace © 2017</p>
        </div>
    </div>
</div>
</main>
{% endblock content %}
{% block javascripts %}

{% endblock javascripts %}

