<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="description" content="Excain">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static '/img/faviconapple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/img/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static '/img/favicon/safari-pinned-tab.svg' %}" color="#ffffff">
    <title> Excain | {% block title %}{% endblock title %}</title>
<!--    <link rel="icon" href="{% static '/images/excain-logo.png' %}" type="image/png" sizes="16x16">-->
    {% block stylesheets %}{% endblock stylesheets %}
    {% include 'home/style.html' %}
    <style>
      .navbar-area-three .mean-container a.meanmenu-reveal span {
          background-color: #f07739;
      }
      .navbar-area-three .mean-container a.meanmenu-reveal {
          color: #dd0f0f;
      }
    </style>
</head>
<body>
{% include 'home/header.html' %}
{% block content %}{% endblock content %}
{% include 'home/footer.html' %}
</body>
{% block javascripts %}{% endblock javascripts %}
{% include 'home/scripts.html' %}
</html>
