<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />



    <meta charset="utf-8">
    <meta name="description" content="Jexi">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="120x120" href="excain/static/img/faviconapple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="excain/static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="excain/static/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="excain/static/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="excain/static/img/favicon/safari-pinned-tab.svg" color="#ffffff">

    <title>
        Excain | {% block title %}{% endblock %}
    </title>
    <link rel="icon" href="excain/static/images/tab-3.png" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="excain/static/css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="excain/static/css/bootstrap-reboot.min.css" type="text/css" media="all" />

    <link rel="stylesheet" href="excain/static/css/animate.min.css" type="text/css" media="all" />

    <link rel="stylesheet" href="excain/static/css/swiper-bundle.min.css" type="text/css" media="all" />

    <link rel="stylesheet" href="excain/static/css/meanmenu.min.css" type="text/css" media="all" />

    <link rel="stylesheet" href="excain/static/css/magnific-popup.min.css" type="text/css" media="all" />

    <link rel="stylesheet" href="excain/static/css/main.min.css" type="text/css" media="all" />

    <link rel='stylesheet' href='excain/static/css/boxicons.min.css' type="text/css" media="all" />

    <link rel='stylesheet' href='excain/static/css/flaticon.css' type="text/css" media="all" />

    <link rel='stylesheet' href='excain/static/css/settings.css' type="text/css" media="all" />
    <link rel='stylesheet' href='excain/static/css/layers.css' type="text/css" media="all" />
    <link rel='stylesheet' href='excain/static/css/navigation.css' type="text/css" media="all" />

    <link rel="stylesheet" href="excain/static/css/style.css" type="text/css" media="all" />

    <link rel="stylesheet" href="excain/static/css/responsive.css" type="text/css" media="all" />

    {% block stylesheets %}{% endblock stylesheets %}

</head>

<body>

    {% block content %}{% endblock content %}


    <script data-cfasync="false"
        src="https://templates.hibootstrap.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="excain/static/js/jquery-3.5.1.min.js"></script>
    <script src="excain/static/js/bootstrap.bundle.min.js"></script>

    <script src="excain/static/js/jquery.magnific-popup.min.js"></script>

    <script src="excain/static/js/swiper-bundle.min.js"></script>

    <script src="excain/static/js/jquery.waypoints.min.js"></script>
    <script src="excain/static/js/jquery.counterup.min.js"></script>

    <script src="excain/static/js/moment.js"></script>
    <script src="excain/static/js/main.min.js"></script>
    <script src="excain/static/js/jquery-ui.js"></script>

    <script src="excain/static/js/isotope.pkgd.min.js"></script>

    <script src="excain/static/js/jquery.themepunch.revolution.min.js"></script>
    <script src="excain/static/js/jquery.themepunch.tools.min.js"></script>

    <script src="excain/static/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="excain/static/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="excain/static/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="excain/static/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="excain/static/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="excain/static/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="excain/static/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="excain/static/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="excain/static/js/extensions/revolution.extension.video.min.js"></script>

    <script src="excain/static/js/jquery.ajaxchimp.min.js"></script>

    <script src="excain/static/js/form-validator.min.js"></script>

    <script src="excain/static/js/contact-form-script.js"></script>

    <script src="excain/static/js/jquery.meanmenu.min.js"></script>

    <script src="excain/static/js/script.js"></script>

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>

</html>